.rodape{
    background-color: greenyellow;
    color: black;
    height:30px; 
    text-align: center;
    padding-top: 10px;
    bottom: 0px;
    position: fixed;
    width: 100%;
    text-shadow: 1px 1px white;
}

img{
    width: 500px;
}
img, p{
    display: inline-block;
}

body{ font:100% normal Arial, Helvetica, sans-serif}

form,input,select,textarea{margin:0; padding:0; color:#000000;}

div.box {
    margin:0 auto;
    width:500px;
    background:#c96c02;
    position:relative;
    top:50px;
    border:1px solid #000000;

    outline: unset;
    padding: 50px;
    width: 330px;
    border-radius: 50px;
}

div.box h1 {
    font-family: 'Times New Roman', Times, serif;
    color:#ffffff;
    font-size:18px;
    text-transform:uppercase;
    padding:5px 0 5px 5px;
    border-bottom:1px solid #161712;
    border-top:1px solid #161712;
}

div.box label {
    width:100%;
    display: block;
    background:#c96c02;
    border-top:1px solid #262626;
    border-bottom:1px solid #161712;
    padding:10px 0 10px 0;
}

div.box label span {
    display: block;
    color:#ffffff;
    font-size:12px;
    float:left;
    width:100px;
    text-align:right;
    padding:5px 20px 0 0;
}

div.box .input_text {
    padding:10px 10px;
    width:200px;
    background:#ffffff;
    border-bottom: 1px double #fafafa;
    border-top: 1px double #fafafa;
    border-left:1px double #fafafa;
    border-right:1px double #fafafa;
}

div.box .message{
    padding:7px 7px;
    width:350px;
    background:#fafafa;
    border-bottom: 1px double #fafafa;
    border-top: 1px double #fafafa;
    border-left:1px double #fafafa;
    border-right:1px double #fafafa;
    overflow:hidden;
    height:150px;
}

div.box .button{
    margin:0 0 10px 0;
    padding:4px 7px;
    background:#ffffff;
    border:0px;
    position: relative;
    top:5px;
    left: 260px;
    width:100px;
    border-bottom: 1px double #fafafa;
    border-top: 1px double #fdfdfd;
    border-left:1px double #fdfdfd;
    border-right: 1px double #fdfdfd;
}


body{
    background-image: url("fotoamarela.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and(max-width: 760px) {
    section, aside{
        width: 100%;
    }
} 
@media screen and(max-width: 600px){
    nav li{
        float: none;
        text-align: center;
        width: 100%;
    }
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

body{ font:100% normal Arial, Helvetica, sans-serif}

a:link{
    color: #fff
}

a:hover {
    color:#000;
    text-decoration: none;
}
a:visited{
    color: purple;
}
p {
    font-size: 16px;
    margin-bottom: 3em;
    line-height: 2em;
}
#topo h1{
    font-size: 34px;
    margin-bottom: 0.5em;
}
#titulo h2{
    font-size: 34px;
    margin-bottom: 0.5em;
}
